# Required: Ethereum Mainnet RPC for tests
MAINNET_RPC_ENDPOINT=

# Optional: CoinMarketCap API key for gas reporter
COINMARKETCAP_API_KEY=

# Optional: Etherscan API key for contract verification
ETHERSCAN_API_KEY=

# Optional: Private key for deployment
RAINBOW_DEPLOYMENT_PKEY=
